:root {
  --value: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #373737;
}

.container__form {
  display: flex;
  margin: auto;
  height: 100%;
  width: 50%;
  margin-top: 20px;
  background-color: #9c86e6;
  border-radius: 15px;
  flex-direction: column;
}

.add__expense {
  display: flex;
  margin: auto;
  height: 100px;
}

.add__expense .add {
  display: flex;
  margin: auto;
}
.form__input {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.form__button {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

button:hover {
  opacity: 0.8;
}

.detail {
  display: flex;
  margin: auto;
  height: 100%;
  width: 50%;
  margin-top: 50px;
  background-color: #1d1d1d;
  border-radius: 15px;
  margin-top: 30px;
  flex-direction: column;
}
input:focus {
  outline: black solid 2px !important;
}

label::after {
  content: " *";
  color: rgb(241, 0, 0);
}

.statistic {
  display: flex;
  margin: 15px 15px 5px;
  background-color: rgb(247, 219, 250);
  width: 95%;
  height: 180px;
  border-radius: 15px;
  align-items: center;
}

.statistic__month {
  background-color: rgb(187, 171, 239);
  height: 80%;
  width: 15px;
  border-radius: 20px;
  margin-left: 40px;
  border: 1px solid black;
  position: relative;
}

.statistic__month .transition {
  background-color: rgb(61, 33, 167);
  width: 15px;
  border-radius: 20px;
  bottom: 0px;
  border: 0px solid black;
  position: absolute;
  transition: height 500ms ease-in-out 0s;
}

.statistic__month .title {
  position: absolute;
  margin-top: 145px;
  font-size: 10px;
}
